<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="ISO-8859-1">
    <title>ProjectZomboid DataBase Panel</title>
    <link rel="stylesheet" href="/static/core.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<header class="header ">
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="nav-link custom-style text-white bg-primary" th:href="@{/register}">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/users}">List of Users</a>
        </li>
    </ul>
</header>
<main>


    <div class="login-dark">
        <form th:action="@{/login}" method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
            </div>
            <a href="#" class="forgot">Forgot your email or password?</a>
        </form>
    </div>
</main>

<footer class="footer-dark">
    <p class="copyright">Company Name © 2018</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>

</html>

