body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.welcome-message {
    margin: 50px 0;
    color: #fff;
    text-align: center;
}


.image-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.image-gallery img {
    max-width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}

body {
    background: linear-gradient(to left, rgb(28, 28, 28), #1e1e1e);
}

.nav {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    padding-bottom: 35px;
    background: linear-gradient(to left, rgba(49, 49, 49, 0.34), #1e1e1e);
}

h3 {
    padding-top: 5%;
    color: #fff !important;
}

.main-content {

    display: flex;
    justify-content: center;
}

.card {
    background-color: #212121;
    max-width: 800px;
    width: 100%;
}

.card-title,
.text-center {
    color: #fff !important;
}

ul {
    padding-top: 30px;
    padding-right: 20px;
}


@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 992px) {

}


.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}

.account-settings .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}

.card {
    background: #272E48;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.form-control {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #1A233A;
    color: #bcd0f7;
}

:root {
    --primary-color: white;
    --secondary-color: rgba(37, 37, 37, 0.39);
    --highlight-color: #1c1c1c;

    --dt-status-available-color: greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color: lightgray;

    --dt-padding: 16px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;

    --dt-background-color-container: rgb(33, 33, 33);
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);
}

.material-icons {
    font-size: 16px;
}

.datatable-container {
    font-family: sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    max-width: 1440px;
    min-width: 950px;
    margin: auto;
    font-size: 12px;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 10px;
}

.datatable-container .header-tools {
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    padding-left: 0;
    display: flex;
    align-items: baseline;
}

.datatable-container .header-tools .search {
    width: 40%;
}

.datatable-container .header-tools .search .search-input {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    background-color: var(--dt-input-background-color);
    display: block;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: var(--dt-input-color);
}

.datatable-container .header-tools .tools {
    width: 70%;
}

.datatable-container .header-tools .tools ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.datatable-container .header-tools .tools ul li {
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
    align-items: baseline;
}

.datatable-container .footer-tools {
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.datatable-container .footer-tools .list-items {
    width: 50%;
}

.datatable-container .footer-tools .pages {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}

.datatable-container .footer-tools .pages ul {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.datatable-container .footer-tools .pages ul li {
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button {
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
}

.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover {
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}

.datatable-container .footer-tools .pages ul li span.active {
    background-color: var(--dt-bg-color);
    border-radius: var(--dt-border-radius);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button {
    padding: var(--dt-padding-s) var(--dt-padding);
}

.datatable-container .datatable {
    border-collapse: collapse;
    width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable th {
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable td {
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable tbody tr:nth-child(even) {
    background-color: var(--dt-even-row-color);
}

.datatable-container .datatable tbody tr:hover {
    background-color: var(--dt-hover-cell-color);
}

.datatable-container .datatable tbody tr .available::after,
.datatable-container .datatable tbody tr .away::after,
.datatable-container .datatable tbody tr .offline::after {
    display: inline-block;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::after {
    content: "Online";
    color: var(--dt-status-available-color);
}

.datatable-container .datatable tbody tr .away::after {
    content: "Away";
    color: var(--dt-status-away-color);
}

.datatable-container .datatable tbody tr .offline::after {
    content: "Offline";
    color: var(--dt-status-offline-color);
}

.datatable-container .datatable tbody tr .available::before,
.datatable-container .datatable tbody tr .away::before,
.datatable-container .datatable tbody tr .offline::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::before {
    background-color: var(--dt-status-available-color);
}

.datatable-container .datatable tbody tr .away::before {
    background-color: var(--dt-status-away-color);
}

.datatable-container .datatable tbody tr .offline::before {
    background-color: var(--dt-status-offline-color);
}


a {
    color: #435160;
    text-decoration: none !important;
}

::-webkit-input-placeholder {
    color: #435160;
    font-size: 12px;
}

.input-group {
    position: relative;
    margin-bottom: 1em;
    background-color: #212121;
}

.ui-datepicker {
    background-color: #212121 !important;
    border: 1px solid #383838 !important;
}

.ui-datepicker-header {
    background-color: #212121 !important;
    color: #3f3f3f !important;
}

.ui-datepicker-calendar a.ui-state-active,
.ui-datepicker-calendar a.ui-state-hover {
    background-color: #b7b7b7 !important;
    color: #212121 !important;
}

.ui-datepicker-calendar td a.ui-state-default {
    background-color: #212121 !important;
    color: #a9a9a9 !important;
}

.ui-datepicker-year,
.ui-datepicker-month {
    background-color: #212121 !important;
    color: #bbbbbb !important;
}


.snip1135 {
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.snip1135 * {
    box-sizing: border-box;
}

.snip1135 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
}

.snip1135 a {
    padding: 0.5em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}

.snip1135 a:before,
.snip1135 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1135 a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0;
    content: "";
    background-color: #2980b9;
}

.snip1135 a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0;
    overflow: hidden;
}

.snip1135 a:hover:before,
.snip1135 .current a:before {
    opacity: 1;
    width: 100%;
}

.snip1135 a:hover:after,
.snip1135 .current a:after {
    max-width: 100%;
}

.btn {
    border: none !important;
    outline: none !important;
}

.content {
    margin-bottom: 100px;
}

.header-tools {
    display: flex;
    justify-content: space-between;
}

.search-form {
    display: flex;
    align-items: center;
}

.sortInput {
    width: 50%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    background-color: var(--dt-input-background-color);
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: #435160;
}


button[type="submit"] {
    background: #196b43;
    border: 0;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.custom-delete-btn {
    background: rgb(47, 47, 47) !important;
    border: 0 !important;
    width: 100px !important;
    height: 30px !important;
    border-radius: 5px !important;
    color: #fff !important;
    font-size: 12px !important;
    cursor: pointer !important;
    transition: background .3s ease-in-out !important;
    margin-left: -25px;
}


.custom-delete-btn:hover {
    background: rgb(131, 19, 19) !important;
}

.custom-ban-btn {
    background: rgb(94, 13, 13) !important;
    border: 0 !important;
    width: 100px !important;
    height: 30px !important;
    border-radius: 5px !important;
    color: #fff !important;
    font-size: 12px !important;
    cursor: pointer !important;
    transition: background .3s ease-in-out !important;
}

.custom-ban-btn:hover {
    background: rgb(131, 19, 19) !important;
}

.custom-unban-btn {
    background: rgb(21, 94, 13) !important;
    border: 0 !important;
    width: 100px !important;
    height: 30px !important;
    border-radius: 5px !important;
    color: #fff !important;
    font-size: 12px !important;
    cursor: pointer !important;
    transition: background .3s ease-in-out !important;
}

.custom-unban-btn:hover {
    background: rgb(35, 152, 22) !important;
}

.text-nowrap {
    font-weight: bold;
}

.sort-container {
    display: flex;
    margin-left: 20px;
}

.sortInput {
    font-weight: 700;
}

.sort-container button {
    background-color: rgba(8, 80, 141, 0.97);
    border: 1px solid #313131;
    width: 150px;
    height: 32px;
    border-radius: 5px;
    color: #bbbbbb;
    font-size: 12px;
    cursor: pointer;
    transition: background .3s ease-in-out;
    font-weight: 500;
    margin-left: 10px;
}

.sort-container button:hover {
    background-color: rgba(8, 105, 187, 0.97);
}

.sort-form {
    width: 60%;
}

.forgot-password {
    color: #797979;
    margin-top: 30px;
    font-size: 13px;
}

.modal-content {
    margin-top: 10px;
}

.social-icons {
    font-size: 30px;
    margin-bottom: 20px;
    background-color: rgba(56, 56, 56, 0);
    padding: 10px;
}

.login-mot {
    color: #bbbbbb;
    font-size: 15px;
    padding: 10px;
}

.sign-up {
    color: #bbbbbb;
    padding-top: 30px;
}

.reg-form .reg-username,
.reg-form .reg-password {
    -webkit-appearance: none;
    height: 50px;
    border-radius: 4px;
    border: none;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
    font-size: 12px;
    background-color: #212121;
    color: #bbbbbb;
    padding: 0 15px;
    margin-bottom: 16px;
}

.reg-form .reg-submit {
    color: white;
    background: #0d4985;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    border-radius: 4px;
    border: none;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
    margin-top: 3%;
}

.reg-form .reg-submit:hover, .reg-form .reg-submit:active {
    background: #0c3f73;
    outline: none;
}

.reg-form input:focus {
    outline: 0;
}

.reg-form h1 {
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}


.modal-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.login-form {
    font-family: Arial, Helvetica, sans-serif;
    width: 346px;
    text-align: center;
}


.login-form .login-username,
.login-form .login-password,
.login-form .login-submit {
    -webkit-appearance: none;
    height: 45px;
    border-radius: 4px;
    border: none;
    width: 301px;

    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
    font-size: 13px;
    background-color: #212121;
    color: #bbbbbb;
}


.login-form label {
    height: 45px;
    width: 45px;
    background: #282828;

    border-radius: 0 4px 4px 0;
    margin-left: -2px;
    margin-bottom: 16px;
}

.login-form label > svg {
    width: 15px;
    height: 100%;
    text-align: center;
    fill: #676767;
}

.fab.fa-facebook {
    background-color: #0c3f73;
    /* Замените "YourColorHere" на желаемый цвет в формате HEX, RGB или названии цвета. */
}

.login-form .login-username, .login-form .login-password {
    padding: 0 20px 0 20px;
    float: left;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.login-form .login-submit {
    color: white;
    background: #0d4985;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.modal-body1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.invalid-email {
    border: 1px solid red;
}

.error-message {
    color: #fd0000;

}

.banned-text {
    background-color: #212121;
    color: #ff0000;
    font-weight: bold;
}

.active-text {
    background-color: #212121;
    color: #22ff00;
    font-weight: bold;
}


