<!-- registration-fragment.html -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #181818;">

      <div class="modal-body">
        <form th:action="@{/process_register}" method="post" th:object="${user}" class="reg-form"
              onsubmit="return validatePasswords()">

          <div class="form-columns">
            <div class="form-column">

              <div class="form-group">
                <input id="email" class="reg-username" type="text" name="email"
                       placeholder="E-Mail Address" th:field="*{email}" required/>
              </div>

            </div>

            <div class="form-column">
              <div class="form-group">
                <input id="password" class="reg-password" type="password" name="password"
                       placeholder="Password" th:field="*{password}" maxlength="255" minlength="6"
                       oninput="validatePasswords()" required/>
              </div>

              <div class="form-group">
                <input id="repeatPassword" class="reg-password" type="password"
                       name="repeatPassword" placeholder="Repeat Password"
                       th:field="*{repeatPassword}" minlength="6" oninput="validatePasswords()"
                       required/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" class="reg-submit" value="Register">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
