<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ProjectZomboid DataBase Panel</title>
    <link rel="stylesheet" href="/static/core.css"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>

<header class="header">
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item" th:unless="${isAuthenticated}">
            <a class="nav-link" th:href="@{/login}">Log In</a>
        </li>
        <li class="nav-item" th:unless="${isAuthenticated}">
            <a class="nav-link" th:href="@{/register}">Sign Up</a>
        </li>
        <li class="nav-item" th:if="${userRole == 'ADMIN'}">
            <a class="nav-link" th:href="@{/users}">Admin Panel</a>
        </li>
    </ul>
</header>

<form th:action="@{/process_register}" method="post" th:object="${user}" class="login"
      onsubmit="return validatePasswords()">
    <div class="login">

        <input name="firstName" placeholder="First Name" type="text" th:field="*{firstName}" required>
        <input name="lastName" placeholder="Last Name" type="text" th:field="*{lastName}" required>
        <input name="email" placeholder="E-Mail Address" type="text" th:field="*{email}" required>
        <input name="country" placeholder="Country" type="text" th:field="*{country}" required>
        <input name="city" placeholder="City" type="text" th:field="*{city}" required>
        <input id="date" name="date" placeholder="BirthDate: DD.MM.YYYY" type="text" th:field="*{birthday}"
               th:maxlength="10" required>
        <input id="password" placeholder="Password" type="password" th:field="*{password}" class="input"
               data-type="password" th:maxlength="255" minlength="7" oninput="validatePasswords()" required>
        <input id="repeatPassword" placeholder="Repeat Password" type="password" th:field="*{repeatPassword}"
               class="input" data-type="password" minlength="7" oninput="validatePasswords()" required>
        <br>
        <br>
        <br>
        <input type="submit" class="button" value="Register">
    </div>
</form>
<script>
    $(function () {
        $("#date").datepicker({
            dateFormat: "dd.mm.yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "1980:2022"
        });
    });
</script>

</body>
</html>
